<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profiles</title>
    <link rel="stylesheet" href="/userProfile.css">
</head>
<body>
    <div class="dashboard-sidebar">
        <h3>Admin Dashboard</h3>
        <nav>
            <ul>
                <li><a href="../inventory.html">Inventory</a></li>
                <li><a href="/loan-list">Loan List</a></li>
                <li><a href="/IPaccess/getAllUsers">User Profiles</a></li>
            </ul>
        </nav>
    </div>

    <div class="dashboard-content">
        <h2>User Profiles</h2>
        <div th:replace="~{user-table-fragment :: userTable(users=${users})}"></div>
    </div>

    <script src="script.js"></script>
</body>
</html>
